$primary-color: #000;
$secondary-color: #fff;
$primary-text: #000;
$secondary-text: #fed330;
$main-font: "Montserrat", sans-serif;

//Media Query Mixins
@mixin mediaSm {
  @media screen and (max-width: 500px) {
    @content;
  }
}
@mixin mediaMd {
  @media screen and (max-width: 768px) {
    @content;
  }
}
@mixin mediaLg {
  @media screen and (min-width: 769px) and (max-width: 1170px) {
    @content;
  }
}
@mixin mediaXl {
  @media screen and (min-width: 1171px) {
    @content;
  }
}

//Animations
@mixin fadeInBottom {
  animation-name: fadeInBottom;
  animation-iteration-count: 1;
  animation-duration: 1s;
  animation-delay: 0.2s;
  animation-timing-function: ease;
  animation-fill-mode: both;
  backface-visibility: hidden;
}

@keyframes fadeInBottom {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
