@import "config";
@import "menu";

/* ---------- contact page ----------*/
input {
  outline: none;
  border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus,
input:focus {
  border-color: transparent !important;
}
button {
  outline: none !important;
  border: none;
  background: transparent;
}

button:hover {
  cursor: pointer;
}

iframe {
  border: none !important;
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}
input:focus:-moz-placeholder {
  color: transparent;
}
input:focus::-moz-placeholder {
  color: transparent;
}
input:focus:-ms-input-placeholder {
  color: transparent;
}

textarea:focus::-webkit-input-placeholder {
  color: transparent;
}
textarea:focus:-moz-placeholder {
  color: transparent;
}
textarea:focus::-moz-placeholder {
  color: transparent;
}
textarea:focus:-ms-input-placeholder {
  color: transparent;
}

input::-webkit-input-placeholder {
  color: #999999;
}
input:-moz-placeholder {
  color: #999999;
}
input::-moz-placeholder {
  color: #999999;
}
input:-ms-input-placeholder {
  color: #999999;
}

textarea::-webkit-input-placeholder {
  color: #999999;
}
textarea:-moz-placeholder {
  color: #999999;
}
textarea::-moz-placeholder {
  color: #999999;
}
textarea:-ms-input-placeholder {
  color: #999999;
}

.contact-form-container {
  width: 100%;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  padding: 72px 55px 90px 55px;

  .contact-form {
    width: 100%;
  }
  .contact-form-heading {
    display: block;
    font-size: 39px;
    color: $secondary-text;
    line-height: 1.2;
    text-align: center;
    padding-bottom: 90px;
  }

  .input-wrap {
    position: relative;
    width: 100%;
    position: relative;
    border-bottom: 2px solid #adadad;
    margin-bottom: 37px;
  }

  input {
    height: 45px;
    display: block;
    width: 100%;
    font-size: 15px;
    line-height: 1.2;
  }
  textarea.input {
    min-height: 115px;
    padding-top: 13px;
    padding-bottom: 13px;
    display: block;
    width: 100%;
  }

  .btn-wrap {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
