//Widescreens
@include mediaXl {
}

//Desktops & Laptops
@include mediaLg {
}

//Tablets & Small Laptops
@include mediaMd {
  .menu-button {
    display: block;
  }

  .nav-container {
    .nav {
      display: none;
    }
  }
  .intro-container {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    padding-top: 6rem;
  }

  .intro-content {
    padding: 0 2rem;
    text-align: center;
  }

  .about-intro-container {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    grid-gap: 1rem;

    padding-left: 2rem;
    padding-right: 2rem;

    text-align: center;
  }

  .what-i-do {
    margin: 0;
  }

  .main-work {
    display: none;
  }

  .contact-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    .contact-info {
      padding: 2rem 0;
      flex-basis: 100%;
      max-width: 100%;
    }

    .contact-links {
      margin: 0;
      padding: 2rem 0;
      flex-basis: 100%;
      max-width: 100%;
    }
  }
  //about-page
  .about-page-container {
    display: flex;
    flex-direction: column;

    .about-me-content {
      max-width: 100%;
    }

    .about-what-i-do {
      margin: 0;
      padding: 2rem;
    }

    .stack-list {
      text-align: center;
      padding: 4rem 0;
    }
    .other-list {
      text-align: center;
      padding: 4rem 0;
    }
  }

  //work-page
  .work-section-container {
    text-align: center;

    .project {
      flex-flow: column wrap;
      text-align: center;
      margin-top: 2rem;

      .project-thumbnail {
        max-width: 100%;
      }
      .project-info {
        margin: 0;
      }
    }

    .client-list {
      flex-direction: column;
    }
  }
}

//Smartphones
@include mediaSm {
}
